li{
    list-style: none;
}

p{
    display: inline-block;
    padding-top: 10px;
}

span{
    padding-left: 10px;
}

hr{
    margin-top: -5px;
}

#pagintor-father{
   display: flex;
    justify-content: center;
}